/*******************************************************************************
*
* Global
*
*******************************************************************************/

body {
	font: large/1.556 "Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  word-spacing: 0.1em;
}

pre, code {
	font-size: medium;
}

/*******************************************************************************
*
* Footer
*
*******************************************************************************/

.footer {
	margin-bottom: 8em;
}

/*******************************************************************************
*
* Content
*
*******************************************************************************/

.content h2 {
	margin-top: 1.5em;
}

