{% raw %}
<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  
<div ng-controller="movieController">

  <h1>Movies</h1>
  
  <table>
    <tr ng-repeat="movie in movies">
      <td><b>{{ movie.title }}</b></td>
      <td>{{ movie.year }}</td>
      <td>
        <span ng-repeat="genre in movie.genres">
          * {{ genre }}
        </span>
      </td>
    </tr>
  </table>

</div>

</body>
</html>

{% endraw %}
