{% raw %}
<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>

<div ng-controller="CountController">

  <h1>{{ total }}</h1>
  
  <button ng-click="increment(1)">+1</button>
  <button ng-click="increment(10)">+10</button>
  <button ng-click="decrement(10)">-10</button>
  <button ng-click="decrement(1)">-1</button>
  
</div>

</body>
</html>

{% endraw %}
